/*
	INDEX
	
	1 - LAYOUT
	2 - TYPOGRAPHY
	3 - NAVIGATION
	4 - SLIDES
	5 - MENU
	
*/

/*
	1 - LAYOUT

*/
body, html {
	background: #fff;
}

.deck-container {
	background: #fff;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 1.25em;
	height: 100%;
	overflow: hidden;
	padding: 0 5%;
	width: 90%;
}

.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
	padding: 0 100px;
}

.deck-container .slide.red {
	background: #f4352f;
	border-right: 1px solid #f4352f;
	border-left: 1px solid #f4352f;
}

.deck-container .global .vcenter {
	height: 540px;
	margin: 10px auto;
	width: 700px;
}

.deck-container .global .vcenter_alt {
	height: 440px;
}

.deck-container .global .vcenter .vcenter {
	height: auto;
	padding: 0;
}

.deck-container .floatLeft {
	float: left;
}

.deck-container .floatRight {
	float: right;
}

.deck-container .w50 {
	width: 50%;
}


/* slide borders */
.deck-container .global .frame_1_top {
	background: url(../img/proximity/frame_1_inner.png) center top no-repeat;
	border-top: 2px solid #eee;
}

.deck-container .global .frame_1_bottom {
	background: url(../img/proximity/frame_1_inner.png) center bottom no-repeat;
	border-bottom: 2px solid #eee;
}

.deck-container .global .frame_1_both {
	background-image: 
		url(../img/proximity/frame_1_inner.png), 
		url(../img/proximity/frame_1_inner.png);
	background-position: center bottom, center top;
	background-repeat: no-repeat, no-repeat;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.deck-container .global .frame_2_top {
	background-image: 
		url(../img/proximity/frame_2_inner_top.png), 
		url(../img/proximity/frame_1_inner.png);
	background-position: center top, center top;
	background-repeat: no-repeat, no-repeat;
	border-top: 2px solid #eee;
}

.deck-container .global .frame_2_bottom {
	background-image: 
		url(../img/proximity/frame_2_inner_bottom.png), 
		url(../img/proximity/frame_1_inner.png);
	background-position: center bottom, center bottom;
	background-repeat: no-repeat, no-repeat;
	border-bottom: 2px solid #eee;
}

.deck-container .global .frame_2_both {
	background-image: 
		url(../img/proximity/frame_2_inner_bottom.png), 
		url(../img/proximity/frame_1_inner.png), 
		url(../img/proximity/frame_2_inner_top.png), 
		url(../img/proximity/frame_1_inner.png);
	background-position: center bottom, center bottom, center top, center top;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}






/*
	2 - TYPOGRAPHY
	
*/
.deck-container .global h1,
.deck-container .global h2,
.deck-container .global h3,
.deck-container .global h4,
.deck-container .global h5,
.deck-container .global h6,
.deck-container .global p {
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
	font-stretch: normal;
	font-weight: normal;
	line-height: 100%;
}

.deck-container .global h1 strong {
	color: #f4352f;
	font-weight: bold;
}

.deck-container .global p {
	color: #666;
}

.deck-container .global b {
	color: #f4352f;
}

.deck-container .global .frame h1 {
	background: #fff;
	color: #333;
	display: inline;
	font-size: 120%;
	line-height: 80%;
	padding: 0 10px;
	position: relative;
	top: -4px;
	text-align: center;
	text-transform: uppercase;
	z-index: 10;
}

.deck-container .global .frame h1 strong {
	color: #333;
}

.deck-container .global .vcenter_alt.frame h1 {
	font-size: 100%;
	line-height: 100%;
	top: -65px;
}

.deck-container .global.intro h1 {
	clear: both;
	color: #f4352f;
	font-size: 155%;
	padding: 10px;
	text-align: right;
	text-transform: uppercase;
}

.deck-container .global.red.intro h1 {
	color: #fff;
}

.deck-container .global.intro_4 h1 {
	padding-left: 50px;
}

.deck-container .global.intro p {
	clear: both;
	color: #333;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
	font-stretch: normal;
	font-size: 65%;
	padding: 0 10px 0 0;
	text-align: right;
	text-transform: uppercase;
}





/*
	3 - NAVIGATION

*/
.deck-container .deck-prev-link,
.deck-container .deck-next-link {
	background: none;
	background-image: url(../img/shared/arrows.png);
	background-repeat: none;
	height: 100px;
	margin-top: -50px;
	width: 63px;
}

.deck-container .deck-prev-link span,
.deck-container .deck-next-link span {
	display: none;
}

.deck-container .deck-prev-link {
	background-position: 0 -100px;
	left: 0;
}

.deck-container .deck-next-link {
	right: 0;
}

.deck-container .deck-prev-link.navWhite {
	background-position: 0 -300px;
}

.deck-container .deck-next-link.navWhite {
	background-position: 0 -200px;
}

.deck-container .deck-status {
	color: #f4352f;
}

.deck-container .deck-status.navWhite {
	color: #fff;
}





/*
	4 - SLIDES

*/

/* intro */
.deck-container .global.intro .vcenter {
	height: 300px;
}

.deck-container .global.intro .discs {
	margin: 0 auto;
	width: 700px;
}

.deck-container .global.intro .discs span {
	background: #fff;
	border-radius: 35px;
	display: block;
	float: left;
	height: 70px;
	width: 70px;
	-webkit-transition: all 400ms ease-in-out 0ms;
	-moz-transition: all 400ms ease-in-out 0ms;
	-ms-transition: all 400ms ease-in-out 0ms;
	-o-transition: all 400ms ease-in-out 0ms;
	transition: all 400ms ease-in-out 0ms;
}

.deck-container .global.intro_1 .discs span.animate {
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.deck-container .global.intro_1 .discs span {
	background: #fff;
}

.deck-container .global.intro_2 .discs span {
	background: #f4352f;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}

.deck-container .global.intro_2 .discs span.animate {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.deck-container .global.intro_3 .discs span {
	background: #f4352f;
}

.deck-container .global.intro_3 .discs span b {
	color: #fff;
	display: block;
	font-size: 35px;
	line-height: 70px;
	opacity: 0;
	-webkit-transform: scale(1.7);
	-moz-transform: scale(1.7);
	-ms-transform: scale(1.7);
	-o-transform: scale(1.7);
	transform: scale(1.7);
	-webkit-transition: all 500ms ease-in-out 100ms;
	-moz-transition: all 500ms ease-in-out 100ms;
	-ms-transition: all 500ms ease-in-out 100ms;
	-o-transition: all 500ms ease-in-out 100ms;
	transition: all 500ms ease-in-out 100ms;
}

.deck-container .global.intro_3 .discs span.animate b {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.deck-container .global.intro_4 .discs span {
	background-color: #f4352f;
}

.deck-container .global.intro_4 .discs span b {
	background-image: url(../img/proximity/disc_icons.png);
	background-repeat: no-repeat;
	background-position: -1000px -1000px;
	display: block;
	height: 45px;
	margin: 13px auto 0;
	width: 45px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 500ms ease-in-out 100ms;
	-moz-transition: all 500ms ease-in-out 100ms;
	-ms-transition: all 500ms ease-in-out 100ms;
	-o-transition: all 500ms ease-in-out 100ms;
	transition: all 500ms ease-in-out 100ms;
}

.deck-container .global.intro_4 .discs span.animate b {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.deck-container .global.intro_4 .discs span.desktop b {
	background-position: 0 0;
}

.deck-container .global.intro_4 .discs span.messaging b {
	background-position: -50px 0;
}

.deck-container .global.intro_4 .discs span.shoppingCart b {
	background-position: -100px 0;
}

.deck-container .global.intro_4 .discs span.tablet b {
	background-position: -150px 0;
}

.deck-container .global.intro_4 .discs span.wifi b {
	background-position: -200px 0;
}

.deck-container .global.intro_4 .discs span.smartphone b {
	background-position: 0 -50px;
}

.deck-container .global.intro_4 .discs span.ipod b {
	background-position: -50px -50px;
}

.deck-container .global.intro_4 .discs span.television b {
	background-position: -100px -50px;
}

.deck-container .global.intro_4 .discs span.headphones b {
	background-position: -150px -50px;
}

.deck-container .global.intro_4 .discs span.card b {
	background-position: -200px -50px;
}



/* i3 (magnets) */
.deck-container .i3 .floatLeft {
	right: auto;
	margin: 0;
	width: 50%;
}

.deck-container .i3 .floatLeft h2 {
	color: #666;
	font-weight: normal;
	line-height: 100%;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.deck-container .i3 .floatLeft h2 strong {
	font-weight: bold;
}

.deck-container .i3 .floatLeft p {
	color: #f4352f;
	font-size: 85%;
	line-height: 115%;
	margin: 0 60px;
}

.deck-container .i3 .floatRight {
	left: auto;
	margin: 0;
	width: 45%;
}

.deck-container .i3 .floatRight h2 {
	color: #f4352f;
	font-weight: normal;
	line-height: 100%;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.deck-container .i3 .floatRight h2 strong {
	font-weight: bold;
}

.deck-container .i3 .floatRight p {
	font-size: 85%;
	line-height: 115%;
	margin: 0 30px;
}



/* brands - shots */
.deck-container .brands ul {
	list-style-type: none;
	margin: 0 auto 30px;
	overflow: hidden;
	width: 50%;
	min-width: 730px !important;
}

.deck-container .brands ul li {
	border: 1px solid #ddd;
	box-shadow: 0px 0px 5px #ccc;
	display: block;
	float: left;
	list-style-type: none;
	margin: 2px;
	opacity: 0;
	padding: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 800ms ease-in-out 0;
	-moz-transition: all 800ms ease-in-out 0;
	-ms-transition: all 800ms ease-in-out 0;
	-o-transition: all 800ms ease-in-out 0;
	transition: all 800ms ease-in-out 0;
}

.deck-container .brands ul li.animate {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.deck-container .brands ul li.small {
	margin-right: 14px;
}

.deck-container .brands ul li img {
	margin: 0;
}



/* clients - logos */
.deck-container .clients ul {
	list-style-type: none;
	margin: 0 auto 30px;
	overflow: hidden;
	width: 50%;
	min-width: 690px !important;
}

.deck-container .clients ul li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 0 15px 10px 0;
	opacity: 0;
	padding: 0;
	-webkit-transition: all 800ms ease-in-out 0;
	-moz-transition: all 800ms ease-in-out 0;
	-ms-transition: all 800ms ease-in-out 0;
	-o-transition: all 800ms ease-in-out 0;
	transition: all 800ms ease-in-out 0;
}

.deck-container .clients ul li.animate {
	opacity: 1;
}

.deck-container .clients ul li.small {
	margin-right: 14px;
}

.deck-container .clients ul li img {
	margin: 0;
}

.deck-container .clients h1 {
	text-align: center;
}



/* labs - 'pages' (these animate in and stay until reload) */
.deck-container .labs ul {
	list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
	width: 50%;
	min-width: 690px !important;
}

.deck-container .labs ul li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 0 10px 0 0;
	opacity: 0;
	padding: 0;
	position: relative;
	top: 140px;
	-webkit-transition: all 800ms ease 100ms;
	-moz-transition: all 800ms ease 100ms;
	-ms-transition: all 800ms ease 100ms;
	-o-transition: all 800ms ease 100ms;
	transition: all 800ms ease 100ms;
}

.deck-container .labs ul li.animate {
	opacity: 1;
	top: 0;
}

.no-js .deck-container .labs ul li {
	opacity: 1;
	top: 0;
}

.deck-container .labs ul li:last-child {
	margin: 0;
}

.deck-container .labs ul li img {
	margin: 0;
}




/* dial - datawork (proximity) */
.deck-container .dial_container {
	position: relative;
	height: 540px;
	margin: 0 auto;
	width: 540px;
}

.deck-container .dial_container img {
	position: absolute;
	top: 0;
	left: 0;
}

@-webkit-keyframes rotateDial {
    14%   { -webkit-transform: rotate(51deg); }
	29%   { -webkit-transform: rotate(102deg); }
	43%   { -webkit-transform: rotate(154deg); }
	57%   { -webkit-transform: rotate(206deg); }
	71%   { -webkit-transform: rotate(257deg); }
	86%   { -webkit-transform: rotate(308deg); }
    100%  { -webkit-transform: rotate(360deg); }
}

.deck-container .dial_container img.animate {
	-webkit-animation:rotateDial 15s infinite ease 1s;
}





/*
	5 - MENU
	
*/

.deck-menu {

}

.csstransforms .deck-menu > .slide {
	background: #fff;
}

.csstransforms .deck-menu .slide.red {
	background: #ed1b24;
}

.csstransforms .deck-menu .deck-current {
	background: #aaa;
}

.csstransforms .no-touch .deck-menu .slide:hover {
	background: #fff;
	opacity: 0.5;
}

.csstransforms .no-touch .deck-menu .slide.red:hover {
	background: #ed1b24;
}


















